body {
    font-family: Arial;
    background-color: #f2f2f2;
    margin: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.profile {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid gray;
    background-color: white;
    text-align: center;
    border-radius: 10px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

footer {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    background-color: #333;
    color: white;
}